[flake8]
# Suggested config from pytorch that we can adopt
select = B,C,E,F,P,T4,W,B9,TOR0,TOR1,TOR2
max-line-length = 120
# C408 ignored because we like the dict keyword argument syntax
# E501 is not flexible enough, we're using B950 instead
ignore =
    E203,E305,E402,E501,E704,E721,E741,F405,F821,F841,F999,W503,W504,C408,E302,W291,E303,
    # shebang has extra meaning in fbcode lints, so I think it's not worth trying
    # to line this up with executable bit
    EXE001,
optional-ascii-coding = True
exclude =
    ./.git,
    ./docs
    ./build
    ./scripts,
    ./venv,
    *.pyi
